.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: 200px 0px;
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0px;
    width: 400px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .navbar {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .nav-links { /* Nouveau style pour les liens de navigation */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-icon { /* Nouveau style pour l'icône du menu */
    display: none;
    cursor: pointer;
  }
  
  .logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
    box-shadow: 3px 10px 25px -5px rgba(0,0,0,0.28);
  }
  
  .logout-icon {
    box-shadow: 3px 10px 25px -5px rgba(0,0,0,0.28);
    padding: 3px 5px;
    border-radius: 50%;
  }
  
  .logout-icon:hover {
    background-color: rgb(71, 7, 7);
    color: white;
    border: 2px gray solid;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 7px rgb(71, 7, 7);
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  a:hover {
    color: #0700009c;
    text-shadow: 3px 3px 7px rgb(212, 202, 202);
  }
  
  @media (max-width: 768px) { /* Media query pour les petits écrans */
    .nav-links {
      display: none; /* Cacher les liens par défaut */
      flex-direction: column; /* Disposer les éléments en colonne */
      position: absolute; /* Positionner les éléments absolument */
      top: 100px; /* Positionner les éléments en dessous de la navbar */
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
      padding: 20px;
      text-align: center;
    }
  
    .nav-links.open { /* Afficher les liens lorsque le menu est ouvert */
      display: flex;
    }
  
    .menu-icon {
      display: block; /* Afficher l'icône du menu */
    }
  
    .navbar {
      justify-content: space-between; /* Ajuster l'alignement de la navbar */
      padding: 0 20px;
    }
  
    .navbar .logo {
      margin-bottom: 0; /* Supprimer la marge inférieure du logo */
    }
  
    .navbar a {
      font-size: 18px; /* Ajuster la taille de la police des liens */
      margin: 15px 0; /* Ajouter une marge autour des liens */
    }
  }
  
  
  
  a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 7px rgb(71, 7, 7);
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &:hover{
      color: #0700009c;
      text-shadow: 3px 3px 7px rgb(212, 202, 202);
      
    }
  }


  /****** search Bar ******/
  .searchBar{
    width: 50.3%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 35px;
  }

  /******** hero ********/
  .heroContainer {
    width: 100%;
    background-color: pink;
    height: 80vh;
    position: relative;
    color: white;


    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.45;
      
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -5;
    }

    h1 {
      position: absolute;
      top: 200px;
      left: 60px;
      font-size: 2.5rem;
      text-shadow: 3px 3px 7px rgba(248, 246, 246, 0.284);

      span {
        
        text-shadow: 3px 3px 7px rgba(230, 27, 27, 0.584);
        font-size: 5rem;
      }
    }

      p {
        position: absolute;
        top: 350px;
        left: 60px;
        color: white;
        font-size: 1.5rem;
        text-shadow: 3px 3px 7px rgba(230, 27, 27, 0.284);
         }
  }

  
  /******** home page ********/
  .homePageContainer{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
  

    .titleHomePage{
      font-size: 2.5rem;
      margin-top: 150px ;
    }

    h3 {
      font-size: 3rem;
      margin-top: 50px;
      span{
        color: rgb(71, 7, 7);
        font-weight: bolder;
        text-shadow: 3px 3px 7px rgba(249, 58, 58, 0.313);
      }
    }


    /* recipe container */
    .recipes-grid{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style-type: none;
      margin: 40px 20px;
      padding: 0;
      width: calc(100% - 40px);
      justify-content: center;

      .recipe-card{
        width: 23%;
        max-height: fit-content;
        border: 1px gray solid;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 3px 10px 25px -5px rgba(0,0,0,0.28);
       

        h2{
          text-align: center;
          padding-bottom: 5px;
        }

        img {
          width: 100%;
          object-fit: cover;
          height: 300px;
          border-radius: 5px;
        }
      }
    }

  }


/******* saved Recipes Page ********/
.savedRecipesPage{
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1{
    font-size: 2.5rem;
      margin-top: 150px ;
  }

  .savedRecipes-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    gap: 50px;


    .savedRecipes-card{
      background: url("/pattern1.png") no-repeat center center;
      background-size: cover;
      max-width: 45%; /* Utiliser max-width pour plus de flexibilité */
      padding: 20px;
      border-radius: 15px;
      border: 1px solid gray;
      position: relative;
      box-shadow: 3px 10px 25px -5px rgba(0, 0, 0, 0.28);
      height: 500px;
      overflow-y: auto;
      
    

        img{
          width: 70%;
          height: 300px;
          object-fit: cover;
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
        }
  
        .delete-icon{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          transition: transform 0.5s ease-in-out; 
        }
        .delete-icon:hover{
          scale: 1.2;
        }
     
        h4 span{
          font-weight: 600;
          letter-spacing: 1px;
          text-decoration: underline;
        }

    }
  }
}



.savedRecipes-card::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.savedRecipes-card::-webkit-scrollbar-thumb {
  background-color: #A10E14;
  border-radius: 10px; 
  border: 3px solid #f2f2f2; 
 
}

/****** Modal Recipe *******/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    
  }
}

.modal-content::-webkit-scrollbar {
  width: 12px; 
}

/* Scrollbar thumb */
.modal-content::-webkit-scrollbar-thumb {
  background-color: #A10E14; 
  border-radius: 10px;
  border: 3px solid #f2f2f2; 
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}



/******* buttons category ********/
.category-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}

.category-buttons button {
  background-color: #A10E14; 
  color: white;
  border: none; 
  padding: 10px 20px;
  margin: 0 10px; 
  font-size: 16px; 
  font-weight: bold; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.category-buttons button:hover {
  background-color: #870c11;
  transform: scale(1.05); 
}

.category-buttons button:focus {
  outline: none;
}



/***** create recipe component *******/

.create-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.create-recipe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input, select, .quill-editor {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.ingredient-input {
  margin-bottom: 10px;
}

.add-ingredient-button {
  background-color: #A10E14;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-ingredient-button:hover {
  background-color: #870c11;
  transform: scale(1.05);
}

.create-recipe-button {
  background-color: #A10E14;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-recipe-button:hover {
  background-color: #870c11;
  transform: scale(1.05);
}


/***** auth login register components ******/

.auth-button {
  background-color: #A10E14;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.auth-button:hover {
  background-color: #870c11;
  transform: scale(1.05);
}

/* Ajouté pour les conteneurs de connexion et d'inscription */
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 400px;
}



/******* My Recipes Page ********/
.myRecipesPage {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    margin-top: 150px;
  }

  .myRecipes-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

    .myRecipes-card {
      background: url("/pattern1.png") no-repeat center center;
      background-size: cover;
      width: 55%;
      padding: 20px;
      border-radius: 15px;
      border: 1px solid gray;
      position: relative;
      box-shadow: 3px 10px 25px -5px rgba(0, 0, 0, 0.28);
      height: 500px;
      overflow-y: auto;

      img {
        width: 60%;
        height: 300px;
        object-fit: cover;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
      }

      .edit-icon {
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
      }

      .edit-icon:hover {
        scale: 1.2;
      }

      .delete-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
      }

      .delete-icon:hover {
        scale: 1.2;
      }

      h4 span {
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: underline;
      }
    }
  }
}

.myRecipes-card::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.myRecipes-card::-webkit-scrollbar-thumb {
  background-color: #A10E14;
  border-radius: 10px;
  border: 3px solid #f2f2f2;
}




@media (max-width: 1068px) {

  .myRecipesPage {
    h1 {
      font-size: 2rem;
      margin-top: 100px;
    }

    .myRecipes-grid {
      .myRecipes-card {
        width: 75%;
      }
    }
  }


  .heroContainer {
    height: 50vh;

    h1 {
      font-size: 2.5rem;
      left: 20px;
      top: 300px;

      span {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.2rem;
      left: 20px;
      top: 400px;
    }

     img{
      object-fit: conta;
    }
  }



  .homePageContainer {
    .titleHomePage {
      font-size: 2rem;
      margin-top: 100px;
    }

    h3 {
      font-size: 2.5rem;
      margin-top: 40px;
    }

    .recipes-grid {
      .recipe-card {
        width: 45%;
        margin-bottom: 10px;
      }
    }
  }

}




@media (max-width: 480px) {
  
  

  

  

  


  .homePageContainer {
    .titleHomePage {
      font-size: 1.5rem;
      margin-top: 50px;
      
    }

    h3 {
      font-size: 2rem;
      margin-top: 30px;
    }

    .recipes-grid {
      .recipe-card {
        width: 90%;
        margin-bottom: 10px;
        
        h2 {
          font-size: 1.2rem;
        }

        img {
          height: 200px; 
        }

        p {
          font-size: 1rem;
        }

      }
    }
  }



  .heroContainer {
      height: 50vh;

    h1 {
      font-size: 2rem;
      left: 10px;
      top: 200px;
      color: white;

      span {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      left: 10px;
      top: 300px;
    }
  }

  
 


  .auth {
    flex-direction: column;
    margin: 100px 0px;
    height: auto;
    padding: 10px 0px;
    justify-content: start;
    align-items: stretch;
  }

  .auth-container {
    width: 90%; 
    margin: 10px; 
  }

  .myRecipesPage {
    

    h1 {
      font-size: 1.5rem;
      margin-top: 50px;
    }

    .myRecipes-grid {
      .myRecipes-card {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 40px;
        height: auto; 

        img {
          width: 80%; 
          height: 200px;
        }

        p {
          font-size: 1rem;
        }  
        
      }
      
      
    }
  }
}
